 <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Mini Doğa Extreme</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                        
                            <h4>Ali KILIÇ</h4>
                            <p class="text-muted">Organizatör</p>
                            <p class="text-muted">Tel:0 212 222 11 33</p>
                            <p class="text-muted">mail:alikilic@inttek.com</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            
                            <h4>Eyyüp ŞEKER</h4>
                            <p class="text-muted">Güvenlik ve Doğa Uzmanı</p>
                            <p class="text-muted">Tel:0 212 222 11 33</p>
                            <p class="text-muted">mail:eyyupseker@inttek.com</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            
                            <h4>Umut NAVRUZ</h4>
                            <p class="text-muted">Yasal Süreç Sorumlusu</p>
                            <p class="text-muted">Tel:0 212 222 11 33</p>
                            <p class="text-muted">mail:umutnavruz@inttek.com</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Mini Doğa Extreme
3 Gece 4 Gün
Mini Doğa Extreme programı ile gerçek doğanın ortasında arkası orman olan doğayla içi içe bir tesiste hem adrenalini yüksek aktivitelerle eğlenecek, hem de doğanın tadını çıkaracaksınız. Doğa Kampı kahvaltı ve akşam yemeği menüsünde büyük oranda organik köy ürünleri servis etmektedir. Mini Doğa programları her hafta Pazar günü başlar, Çarşamba günü sona erer ve Çarşamba günü başlar, Cumartesi günü sona erer.</p></div>
                </div>
            </div>
        </section>